@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Lexend', sans-serif;
    background-color: #0B090D;
    overflow-x: hidden;
}



@media screen and (max-width: 768px) {
    .sticky-column {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 2;
        background-color: #0B090D;
    }

    .second-sticky-column {
        left: -10px;
    }

    .third-sticky-column {
        left: 40px;
    }

    .first-sticky {
        left: -10px;
    }

    .second-sticky {
        left: 40px;
    }
}
